pyttsx3
speechrecognition
pywhatkit
pyaudio
opencv-python
pyautogui
nltk
psutil
requests
pyjokes
wikipedia
qrcode
speedtest-cli
beautifulsoup4
pytube
PyPDF2
fuzzywuzzy
python-Levenshtein
PyQt5
instaloader
